html {
  box-sizing: border-box;
  font-family: "Bevan", cursive;
  line-height: 1.5;
  font-weight: bold;
  margin: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #79756f;
}

h1 {
  text-align: center;
  color: #fff;
}

a {
  text-decoration: none;
  background-color: #713837;
  color: #fff;
  border-radius: .75px;
  margin: .3em;
}

.nav {
  list-style-type: none;
}

li {
  display: inline-block;
  padding: .75em;

}

a:hover {
  color: #f33;
}
